
#socialaccount {padding:3px 10px; }
#socialaccount .snsaccount {padding:0px 0 2px 0;}
#socialaccount .snsaccount .snsx {float:left;display:block;width:60px;text-align:center;margin:0 20px 0 0;vertical-align:top;}
#socialaccount .snsaccount .snsx img{width:24px;height:24px;}

