

#socialaccount {padding:15px;}
#socialaccount .tops {padding:15px 0 15px 4px;border-bottom:#BFBFBF solid 1px;color:#c0c0c0;}
#socialaccount .snsaccount {padding:30px 0 20px 0;}
#socialaccount .snsaccount .snsx {float:left;display:block;width:60px;text-align:center;margin:0px 20px 30px 0;vertical-align:top;}
#socialaccount .snsaccount .snsx span {display:block;font-weight:bold;color:#555555;padding:7px 0 13px 0;}
