#snsbox {background:#efefef;}
#snsbox .header {background:#575757;height:28px;}
#snsbox .header a {position:relative;top:5px;left:10px;}
#snsbox .header h1 {display:inline-block;padding:0 0 0 15px;margin:0;font-size:13px;font-family:"malgun gothic",dotum;color:#efefef;}
#snsbox .body {padding:20px;background:#ffffff;}
#snsbox .body p {line-height:150%;color:#777;}
#snsbox .body p img {float:left;margin:0 10px 0 0;position:relative;top:5px;}
#snsbox .body p a {font-size:11px;font-family:arial;color:#888888;}
#snsbox .body p a:hover {text-decoration:underline;color:#ff0000;}
#snsbox .footer {text-align:center;border-top:#dfdfdf solid 1px;padding:15px 0 0 0;}
#snsbox .footer .btnblue {width:200px;height:25px;font-weight:bold;}
#snsbox .footer .btngray {width:60px;height:25px;}